@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Riot&display=swap');

header {
         background-color: #D3D3D3;  
}
.wrapper{
        max-width: 1200px;
        margin: 0 auto; }

span { 
        color: orange;}  /* pour le colorer la 2eme partie du logo*/

a { 
        color: black;}

body { 
        font-family: "Oswald" , Arial ; /*ajouter la nouveau uploader depuis googlefont*/
} 
.logo, nav , nav li {
        display: inline-block; }

.logo,nav{
        width: 45%;}
a {
        margin-right: 10px; 
       }   /*Pour espacer les li*/ 

.logo {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      color: black;
      text-decoration: none;
  }

li { 
      list-style: none;
      margin-right: 10px;}  /*pour enlver les points associes avec li*/

a:hover{
    
      color: orange;   /*quand on met le curseur sur a ca color en orange*/
}
a{ 
      text-decoration: none;
  ;}  /*enlever les soulignements sur li*/

main h1, main p {
    max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
    margin-left: auto; /* Centre le texte à l'intérieur de la section */
    margin-right: auto;
   
  }
  img { 
         width: 100%;
         height: 500px;
           }
           
       /* h1{
          position: absolute;
          top: 400px;
          z-index: 10;
          left: 40%;
        } */
        