@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Riot&display=swap');

header {
         background-color: #D3D3D3;  
}


span { 
        color:orange;
}  /* pour le colorer la 2eme partie du logo*/
span:hover {
        color: black;
}
a { 
        color: black;}

body { 
        font-family: "Oswald" , Arial ; /*ajouter la nouveau uploader depuis googlefont*/
} 
.logo, nav , nav li {
        display: inline-block; }

nav{
        margin-left: 175px;
}
a {
        margin-right: 10px; 
       }   /*Pour espacer les li*/ 

.logo {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      color: black;
      text-decoration: none;
  }

li { 
      list-style: none;
      margin-right: 10px;}  /*pour enlver les points associes avec li*/

a:hover{
    
      color: orange;   /*quand on met le curseur sur a ca color en orange*/
}
a{ 
      text-decoration: none;
  ;}  /*enlever les soulignements sur li*/

.content-wrapper {
        max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
        margin-left: auto; /* Centre le texte à l'intérieur de la section */
        margin-right: auto;
}

img { 
         width: 400px;
         height: 400px;
         object-fit: cover;
         margin-top: 4px;  } 

footer{  /*margin-bottom: 0;*/
        background-color: #D3D3D3;
       text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
}
.span-footer{
        color: black;
}
.sign-up-button {
        background-color:gray;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: orange;
    }
       /* h1{
          position: absolute;
          top: 400px;
          z-index: 10;
          left: 40%;
        } */
  .home-content{
        width: 27%;
        height: 592px;
        background-color: #f4f4f4;            
}      
  .home-right-side{
        width: 65%;
        height: 600px;       
  }
  .main-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
       margin: 0;
  }


  .home-main-picture {
        width: 95%; 
        height: 98%; 
        object-fit: cover;
    }
    .article{
        margin-left: 10px;
        margin-right: 10px; 
        color: #555;
        text-align: center;}
    .article2{
        margin-left: 10px;
        margin-right: 10px;
        color: #555;
        text-align: center;
    }   
       
       
    
    h1{
        margin-left: 10px;
        margin-right: 10px;
    }
    p {
        line-height: 1.5;
       
    }
    h1, h2 {
        color: #333;
    }